
.consignments {
    width: 100%;
    margin: 0 auto;
}

.consignmentsTable{
    width: 100%;
    margin: 0 auto;

}

.consignmentsTable th{
    text-align: center;
}

.consignmentsTable tr{
    text-align: center;
}

