<!--<div class="consignments">-->

    <!--<mat-card>-->

        <!--<mat-card-title>-->
            <!--托运单列表-->
            <!--<button mat-raised-button color="primary" style="float: right;" routerLink="/admin/consignmentnote/add">-->
                <!--添加-->
            <!--</button>-->
        <!--</mat-card-title>-->

        <!--<mat-divider></mat-divider>-->
        <!--<mat-form-field>-->
            <!--<input matInput placeholder="托运单/托运人搜索">-->
        <!--</mat-form-field>-->
        <!--<mat-divider></mat-divider>-->
        <!--<table mat-table [dataSource]="consignmentTableDataSource" matSort class="consignmentsTable">-->

            <!--&lt;!&ndash; Name id &ndash;&gt;-->
            <!--<ng-container matColumnDef="id">-->
                <!--<th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%"> ID</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.id}}</td>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Name orderNumber &ndash;&gt;-->
            <!--<ng-container matColumnDef="orderNumber">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 订单编号</th>-->
                <!--<td mat-cell *matCellDef=" let element"> {{element.orderNumber}}-->
                <!--</td>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Name articleNumber &ndash;&gt;-->
            <!--<ng-container matColumnDef="articleNumber">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 15%"> 货号</th>-->
                <!--<td mat-cell *matCellDef=" let element"> {{element.articleNumber}}-->
                <!--</td>-->
            <!--</ng-container>-->


            <!--&lt;!&ndash; Name consignmentDate &ndash;&gt;-->
            <!--<ng-container matColumnDef="consignmentDate">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 托运日期</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.consignmentDate |date:'yyyy-MM-dd HH:mm:ss'}}</td>-->
            <!--</ng-container>-->


            <!--&lt;!&ndash; Name shippersName &ndash;&gt;-->
            <!--<ng-container matColumnDef="shippersName">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 托运人姓名</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.shippersName}}</td>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Name shippersPhone &ndash;&gt;-->
            <!--<ng-container matColumnDef="shippersPhone">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 托运人电话</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.shippersPhone}}</td>-->
            <!--</ng-container>-->

            <!--<ng-container matColumnDef="goodsName">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 货物名称</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.goodsName}}</td>-->
            <!--</ng-container>-->
            <!--<ng-container matColumnDef="weight">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 重量</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.weight}}</td>-->
            <!--</ng-container>-->
            <!--<ng-container matColumnDef="number">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 10%"> 件数</th>-->
                <!--<td mat-cell *matCellDef="let element"> {{element.number}}</td>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash; Name edit &ndash;&gt;-->
            <!--<ng-container matColumnDef="edit">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 5%"> 编辑</th>-->
                <!--<td mat-cell *matCellDef="let element">-->
                    <!--<button mat-stroked-button color="primary" (click)="onEdit(element.id)">编辑-->
                    <!--</button>-->
                <!--</td>-->
            <!--</ng-container>-->

            <!--&lt;!&ndash;Name delete &ndash;&gt;-->
            <!--<ng-container matColumnDef="delete">-->
                <!--<th mat-header-cell *matHeaderCellDef style="width: 5%"> 删除</th>-->
                <!--<td mat-cell *matCellDef="let element">-->
                    <!--<button mat-stroked-button color="warn" (click)="onDelete(element.id)">删除</button>-->
                <!--</td>-->
            <!--</ng-container>-->

            <!--<tr mat-header-row *matHeaderRowDef="consignmentTableDisplayedColumns"></tr>-->
            <!--<tr mat-row *matRowDef="let row; columns: consignmentTableDisplayedColumns;"></tr>-->

        <!--</table>-->


        <!--<mat-paginator pageSize="20" [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>-->

    <!--</mat-card>-->


<!--</div>-->

