<mat-card>

    <mat-card-title>
        添加车次
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>

        <form [formGroup]="vehicleFormModel" (submit)="onSubmitForm()" style="margin-top: 30px;">


            <div class="example-container">
                <!-- licensePlate -->
                <mat-form-field fxFlex="49">
                    <input matInput placeholder="车号/班次" formControlName="licensePlate" required>
                </mat-form-field>

                <div fxFlex="2"></div>


                <!-- drivingLicenseNumber -->
                <mat-form-field fxFlex="49">
                    <input matInput placeholder="驾驶证编号" formControlName="drivingLicenseNumber" required>
                </mat-form-field>


            </div>

            <div class="example-container">

                <!-- driverName -->
                <mat-form-field fxFlex="49">
                    <input matInput placeholder="驾驶员" formControlName="driverName" required>
                </mat-form-field>


                <div fxFlex="2"></div>


                <!-- driverPhone -->
                <mat-form-field fxFlex="49">
                    <input matInput placeholder="移动电话" formControlName="driverPhone" required>
                </mat-form-field>

            </div>


            <div class="example-container">

                <!-- startDate -->
                <mat-form-field fxFlex="49">
                    <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate" placeholder="发车时间">
                    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStartDate></mat-datepicker>

                </mat-form-field>

                <div fxFlex="2"></div>

                <!-- endDate -->
                <mat-form-field fxFlex="49">
                    <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="预计到货时间">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>

            </div>
            
            <div class="example-container" style="text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="!vehicleFormModel.valid">保存</button>
                <button mat-raised-button style="margin-left: 15px" routerLink="/admin/vehicles">返回</button>
            </div>

        </form>


    </mat-card-content>

</mat-card>