<div fxLayout="row" class="login-main">

    <div fxFlex="50"></div>


    <div fxFlex>
        <form [formGroup]="formLoginModel" (submit)="onClickSubmitForm()">
            <div class="container">


                <div class="logo">
                    <div class="logo-block-top">
                    </div>
                    <div class="logo-block-bottom">
                    </div>
                </div>

                <h4 class="login-header">用户登录</h4>
                <div class="content">

                    <!-- 用户名 -->
                    <div class="form-group">
                        <input matInput class="form-control" placeholder="用户名" formControlName="username" maxlength="16"
                               required>
                        <div *ngIf="formLoginModel.get('username').dirty || formLoginModel.get('username').touched"
                             class="alert alert-danger">
                            <mat-error *ngIf="formLoginModel.get('username').invalid">{{getUsernameErrorMessage()}}
                            </mat-error>
                        </div>
                    </div>

                    <!-- 密码 -->
                    <div class="form-group">

                        <input matInput class="form-control" placeholder="密码" formControlName="password" type="password"
                               maxlength="16" required>
                        <div *ngIf="formLoginModel.get('password').dirty || formLoginModel.get('password').touched"
                             class="alert alert-danger">
                            <mat-error *ngIf="formLoginModel.get('password').invalid">{{getPasswordErrorMessage()}}
                            </mat-error>
                        </div>
                    </div>


                    <!-- 验证码 -->
                    <div class="form-group">

                        <input matInput class="form-control" style="width: 75%" placeholder="验证码"
                               formControlName="verificationCode"
                               maxlength="4" required>
                        <div *ngIf="formLoginModel.get('verificationCode').dirty || formLoginModel.get('verificationCode').touched"
                             class="alert alert-danger">
                            <mat-error *ngIf="formLoginModel.get('verificationCode').invalid">{{getCodeErrorMessage()}}
                            </mat-error>
                        </div>
                        <div class="lgoinCode" (click)="getCodeService()">
                            <span>
                            {{formLoginModel.get('code').value}}
                            </span>
                        </div>

                    </div>

                    <!-- 登录按钮 -->
                    <div class="form-group">
                        <button class="login-button" type="submit" [disabled]="!formLoginModel.valid">登录
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>


    <div fxFlex="50"></div>

</div>




