<div fxLayout="row" class="login-main">

    <div fxFlex="50"></div>


    <div fxFlex>
        <form [formGroup]="formLoginModel" (submit)="onClickSubmitForm()">
            <div class="container">


                <div class="logo">
                    <div class="logo-block-top">
                    </div>
                    <div class="logo-block-bottom">
                    </div>
                </div>

                <h4 class="login-header">用户登录</h4>
                <div class="content">

                    <!-- 用户名 -->
                    <mat-form-field class="form-group">
                        <input matInput class="form-control" placeholder="用户名" formControlName="username" required>
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
                            <!--Please enter a valid email address-->
                        <!--</mat-error>-->
                        <!--<mat-error *ngIf="emailFormControl.hasError('required')">-->
                            <!--Email is <strong>required</strong>-->
                        <!--</mat-error>-->
                    </mat-form-field>


                    <!--<div class="example-container">-->
                    <!--<mat-form-field>-->
                        <!--<input type="password" matInput placeholder="当前密码" formControlName="currentPassword"-->
                               <!--maxlength="16"-->
                               <!--required>-->
                        <!--<mat-hint align="end">{{formModel.get('currentPassword').value?.length || 0}}/16</mat-hint>-->
                        <!--<mat-error *ngIf="formModel.get('currentPassword').invalid">{{getCurrentPasswordErrorMessage()}}-->
                        <!--</mat-error>-->
                    <!--</mat-form-field>-->
                    <!--</div>-->


                    <!-- 密码 -->
                    <!--<div class="form-group">-->
                    <!--<input type="password" required class="form-control" [(ngModel)]="loginModel.password">-->
                    <!--<label class="form-label">密 码</label>-->
                    <!--</div>-->

                    <!-- 验证码 -->
                    <!--<div class="form-group">-->
                    <!--<input type="text" required class="form-control" style="width: 75%"-->
                    <!--[(ngModel)]="code">-->
                    <!--<label class="form-label">验证码</label>-->


                    <!--<div class="lgoinCode" (click)="getCodeService()">-->
                    <!--<span>{{loginModel.code}}</span>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!-- 登录按钮 -->
                    <div class="form-group">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!formLoginModel.valid">保存
                        </button>
                        <!--<button class="login-button" (click)='onSubmit()'>-->
                        <!--<span class="icon-login">登 录</span>-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div fxFlex="50"></div>

</div>




