<div fxLayout="row">
    <div fxFlex="15" class="mat-elevation-z6">
        <mat-toolbar color="primary"></mat-toolbar>

        <mat-nav-list>
            <a mat-list-item [routerLink]="nav.link" *ngFor="let nav of navList" routerLinkActive="router-link-active">
                {{ nav.name }}
                <mat-divider></mat-divider>
            </a>
        </mat-nav-list>


    </div>

    <div fxFlex="85">

        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>后台系统</span>
                <span class="admin-spacer"></span>

                <button mat-button [matMenuTriggerFor]="menu" class="admin-icon">
                    <mat-icon>person</mat-icon>
                    {{username}}
                </button>

                <mat-menu #menu="matMenu" class="admin-icon">
                    <button mat-menu-item style="font-size: 16px;" (click)="openPasswordDialog()">
                        <mat-icon>assignment</mat-icon>
                        修改密码
                    </button>
                    <hr>
                    <button mat-menu-item style="font-size: 16px;" (click)="onExitLogin()">
                        <mat-icon>reply</mat-icon>
                        退出
                    </button>
                </mat-menu>

            </mat-toolbar-row>

        </mat-toolbar>

        <div style="margin: 15px">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>