<!-- header -->
<mat-toolbar class="app-header mat-elevation-z6" color="primary">

    <button mat-button  style="font-size:20px">
        后台系统
    </button>


    <span class="toolbar-seprator"></span>
    <button mat-button [matMenuTriggerFor]="menu" style="font-size: 16px;float: right;">
        <mat-icon>person</mat-icon>
        {{username}}
    </button>

    <!--<button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">person</i>{{username}}</button>-->
    <mat-menu #menu="matMenu">
        <button mat-menu-item style="font-size: 16px;"  (click)="openPasswordDialog()">
            <mat-icon>assignment</mat-icon>
            修改密码
        </button>
        <hr>
        <button mat-menu-item style="font-size: 16px;" (click)="onExitLogin()">
            <mat-icon>reply</mat-icon>
            退出
        </button>
    </mat-menu>

</mat-toolbar>

<!-- main -->
<mat-drawer-container class="app-container">

    <!-- nav -->
    <mat-drawer #drawer class="app-nav mat-elevation-z6" mode="side"  [(opened)]="openedNavBar">
        <mat-nav-list>
            <a [routerLink]="['/admin']" routerLinkActive='active' mat-list-item>首页</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/admin/users']" mat-list-item>用户管理</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/admin/consignmentnotes']" mat-list-item>托运单管理</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/admin/vehicles']" mat-list-item>马单管理</a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>

    <!-- content -->
    <mat-drawer-content class="app-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>


