.app-header {
    position: fixed;
    top: 0;
    z-index: 2;
}

.app-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 64px;
}

.toolbar-seprator {
    flex: 1 1 auto;
}

.app-nav {
    position: absolute;
    /*height: calc(100vh - 64px);*/
    height: 100%;
    padding-top: 64px;
    width: 250px;
    /*background-color: black;*/
}

.app-content{
    position: absolute;
    /*padding: 30px;*/
    margin: auto;
    background-color: red;
    width: 100%;
}

.active{
    color: #3f51b5;
}

.mat-list-item-focus{
    color: #3f51b5;
}