<h2 mat-dialog-title>审核托运单</h2>
<mat-dialog-content>

    <form [formGroup]="formModel" (submit)="onSubmitForm()">

        <!-- 托运单编号 -->
        <div class="example-container">
            <mat-form-field>
                <input matInput  placeholder="托运单编号" formControlName="orderNumber" readonly="readonly">
            </mat-form-field>
        </div>


        <!-- 审核人 -->
        <div class="example-container">
            <mat-form-field>
                <input matInput  placeholder="审核人" formControlName="checkUsername" readonly="readonly">
            </mat-form-field>
        </div>


        <!-- 审核时间 -->
        <div class="example-container">
            <mat-form-field>
                <input matInput  placeholder="审核时间" formControlName="checkDate"  readonly="readonly">
            </mat-form-field>
        </div>


        <div style="margin-top: 15px;text-align: right;">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formModel.valid">保存</button>
            <button style="margin-left: 10px" mat-raised-button mat-dialog-close>关闭</button>
        </div>

    </form>
</mat-dialog-content>

