<div class="tab">

    <div class="tab-th">
        <div style="width: 80%">xxxxx托运单</div>
        <div style="width: 19%">000015316</div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">到站:</div>
        <div style="width: 35%">
            <!--<mat-form-field style="width:100%; ">-->
                <input matInput required>
            <!--</mat-form-field>-->
        </div>
        <div style="width: 15%">货号:</div>
        <div style="width: 34%">
            <input matInput required>
        </div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">托运日期:</div>
        <div style="width: 35%">
            <input matInput required>
        </div>
        <div style="width: 15%">到货地址:</div>
        <div style="width: 34%">
            <input matInput required>
        </div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">发货地址:</div>
        <div style="width: 35%">大东区北海街193号（沈东物流）
        </div>
        <div style="width: 15%">广州查询电话:</div>
        <div style="width: 34%">024-36749280/36749282
        </div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">咨询电话:</div>
        <div style="width: 35%">62261689 62260255</div>
        <div style="width: 15%">投诉电话:</div>
        <div style="width: 34%">13066653280/1894013111</div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">(托运人/单位)姓名:</div>
        <div style="width: 35%">
            <input matInput required>
        </div>
        <div style="width: 15%">(托运人/单位)电话:</div>
        <div style="width: 34%">
            <input matInput required>
        </div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">(收货人/单位)姓名:</div>
        <div style="width: 35%">
            <input matInput required>
        </div>
        <div style="width: 15%">(收货人/单位)电话:</div>
        <div style="width: 34%">
            <input matInput required>
        </div>
    </div>


    <div class="tab-tr">
        <div style="width: 15%">货物名称</div>
        <div style="width: 14%">包装</div>
        <div style="width: 14%">重量</div>
        <div style="width: 14%">体积</div>
        <div style="width: 14%">件数</div>
        <div style="width: 14%">保险</div>
        <div style="width: 14%">保费</div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
        <div style="width: 14%"><input matInput required></div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">代收货款</div>
        <div style="width: 15%"><input matInput required></div>
        <div style="width: 15%">送货地址</div>
        <div style="width: 54%"><input matInput required></div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">备注</div>
        <div style="width: 84%"><input matInput required></div>
    </div>

    <div class="tab-tr">
        <div style="width: 15%">提货人签字</div>
        <div style="width: 15%"><input matInput required></div>
        <div style="width: 15%">身份证号</div>
        <div style="width: 25%"><input matInput required></div>
        <div style="width: 15%">发货人签字</div>
        <div style="width: 14%"><input matInput required></div>
    </div>

    <div class="tab-tr">
        <div style="width: 99%;text-align: left;">托运人已阅读背面《托运人须知》并认同各项条款</div>
    </div>

</div>
