<mat-card>

    <mat-card-title>添加托运单
        <button mat-raised-button style="float: right;" routerLink="/admin/consignmentnotes">返回</button>
    </mat-card-title>

    <mat-divider></mat-divider>


    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>

            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Input">
                </mat-form-field>
            </div>


        </mat-grid-tile>
        <mat-grid-tile>

            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Input">
                </mat-form-field>
            </div>


        </mat-grid-tile>
        <mat-grid-tile>

            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="Input">
                </mat-form-field>
            </div>


        </mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>


    <!--<div class="example-container">-->
        <!--<mat-form-field>-->
            <!--<input matInput placeholder="Enter your email" [formControl]="email" required>-->
            <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
        <!--</mat-form-field>-->
    <!--</div>-->


    <div class="example-container">
        <mat-form-field hintLabel="Max 50 characters">
            <input matInput #input maxlength="10" placeholder="Enter some input">
            <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>

    </div>


</mat-card>

