<h2 mat-dialog-title>修改密码</h2>
<mat-dialog-content>
    <!--<form (submit)="onSubmitForm()" #updatePasswordForm="ngForm">-->
        <!--<div class="example-container">-->

            <!--<mat-form-field hintLabel="6~16个字符，区分大小写">-->

                <!--<input matInput placeholder="当前密码" [type]="'password'" name="oldPassword"-->
                       <!--[(ngModel)]="userPasswordModel.oldPassword" #oldPassword="ngModel"-->
                       <!--minlength="6" maxlength="16" required>-->
                <!--<mat-icon matSuffix>{{oldPassword.valid ||oldPassword.pristine ? 'visibility' : 'visibility_off'}}-->
                <!--</mat-icon>-->
                <!--<mat-hint align="end">{{oldPassword.value?.length || 0}}/16</mat-hint>-->
            <!--</mat-form-field>-->

            <!--<mat-form-field hintLabel="6~16个字符，区分大小写">-->
                <!--<input matInput placeholder="新密码" [type]="'password'"  name="newPassword"-->
                       <!--[(ngModel)]="userPasswordModel.newPassword" #newPassword="ngModel"-->
                       <!--minlength="6" maxlength="16" required>-->
                <!--<mat-icon matSuffix>{{newPassword.valid ||newPassword.pristine ? 'visibility' : 'visibility_off'}}-->
                <!--</mat-icon>-->
                <!--<mat-hint align="end">{{newPassword.value?.length || 0}}/16</mat-hint>-->
            <!--</mat-form-field>-->

            <!--<mat-form-field hintLabel="请再次输入新密码">-->
                <!--<input matInput placeholder="确认密码" [type]="'password'"  name="checkPassword"-->
                       <!--[(ngModel)]="userPasswordModel.checkPassword" #checkPassword="ngModel"-->
                       <!--minlength="6" maxlength="16" required  forbiddenNameValidator>-->
                <!--<mat-icon matSuffix>{{checkPassword.valid ||checkPassword.pristine ? 'visibility' : 'visibility_off'}}-->
                <!--</mat-icon>-->
                <!--<mat-hint align="end">{{checkPassword.value?.length || 0}}/16</mat-hint>-->
            <!--</mat-form-field>-->

            <!--<div style="text-align:right; margin-top: 20px">-->
                <!--<button mat-raised-button color="primary" type="submit" [disabled]="!updatePasswordForm.form.valid">保存-->
                <!--</button>-->
                <!--<button style="margin-left: 10px" mat-raised-button mat-dialog-close>关闭</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</form>-->

    <!--{{checkPassword.value}}-->

</mat-dialog-content>

