<!--<div style="width: 200px; height: 200px;  background-color: #FF4081;"><p>-->
<!--password-dialog works!-->


<!--</p>-->


<!--<ul>-->

<!--<li>-->

<!--用户名:{{username}}-->
<!--</li>-->

<!--<button  (click)="onNoClick()">关闭</button>-->
<!--</ul>-->
<!--</div>-->

<!--&lt;!&ndash;<mat-dialog-title><h2>标题</h2></mat-dialog-title>&ndash;&gt;-->

<!---->
<!--<mat-dialog-content>Are you sure?</mat-dialog-content>-->


<h2 mat-dialog-title>修改密码</h2>

<mat-dialog-content>

    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="当前密码" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="新密码" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="密码确认" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <div style="text-align:right;">
            <button mat-raised-button color="primary">保存</button>
            <button style="margin-left: 10px" mat-raised-button mat-dialog-close>关闭</button>
        </div>

    </div>


</mat-dialog-content>

