<h2 mat-dialog-title>修改密码</h2>
<mat-dialog-content>

    <form [formGroup]="formModel" (submit)="onSubmitForm()">

        <!-- 当前密码 -->
        <div class="example-container">
            <mat-form-field>
                <input type="password" matInput placeholder="当前密码" formControlName="currentPassword" maxlength="16"
                       required>
                <mat-hint align="end">{{formModel.get('currentPassword').value?.length || 0}}/16</mat-hint>
                <mat-error *ngIf="formModel.get('currentPassword').invalid">{{getCurrentPasswordErrorMessage()}}
                </mat-error>
            </mat-form-field>
        </div>

        <div formGroupName="newPasswordGroup">
            <div class="example-container">
                <!-- 新密码 -->
                <mat-form-field>
                    <input type="password" matInput placeholder="新密码" formControlName="newPassword1" maxlength="16"
                           required>
                    <mat-hint align="end">{{formModel.get(['newPasswordGroup','newPassword1']).value?.length ||
                        0}}/16
                    </mat-hint>
                    <mat-error *ngIf="formModel.get(['newPasswordGroup','newPassword1']).invalid">
                        {{getNewPassword1ErrorMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- 确认密码 -->
            <div class="example-container">
                <mat-form-field>
                    <input type="password" matInput placeholder="确认密码" formControlName="newPassword2" maxlength="16"
                           required>
                    <mat-hint align="end">{{formModel.get(['newPasswordGroup','newPassword2']).value?.length ||
                        0}}/16
                    </mat-hint>

                    <!--<mat-error *ngIf=" formModel.get(['newPasswordGroup','newPassword2']).invalid">-->
                        <!--{{getNewPassword2ErrorMessage()}}-->
                    <!--</mat-error>-->

                    <mat-error *ngIf="formModel.get(['newPasswordGroup']).invalid">
                        {{getNewPassword2ErrorMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        {{formModel.get(['newPasswordGroup']).invalid}}
        {{formModel.get(['newPasswordGroup','newPassword2']).invalid}}

        <div style="margin-top: 15px;text-align: right;">
            <button mat-raised-button color="primary" type="submit" [disabled]="!formModel.valid">保存</button>
            <button style="margin-left: 10px" mat-raised-button mat-dialog-close>关闭</button>
        </div>

    </form>

</mat-dialog-content>

